<h4>Will I get my total ahead of time?</h4>

<p>No. However, you can guesstimate it based on the price sheet. </p>


<h4>What types of payment are accepted?</h4>

<p>Cash or check. Please make checks out to Melvin Fry.</p>


<h4>Are there discounts on bulk orders?</h4>

<p>Yes, please get the bulk ordering sheet from <%= Manager.full_name -%> for more information. We can usually fill a request for bulk beef within 4 weeks. Please contact Lauren Andrews at <a href="mailto:fryfarms@hotmail.com">fryfarms@hotmail.com</a> to get on the waiting list.</p>


<h4>How long will raw milk last?</h4>

<p>You should have no problems with getting your milk to last the two weeks. It helps to keep the lid screwed on tightly and keep it in the part of your fridge least affected by temperature fluctuations. You may have to experiment a bit with the temperature of your fridge. However, once it's opened, generally it has about a week before it starts to sour. </p>

<p>One difference between pasteurized and raw milk is that pasteurized milk goes bad, and raw milk sours naturally. So even if it starts to smell a little funny, it's just beginning a stage of fermentation, and according to the Weston A. Price Foundation, it's still safe to drink. You could also use it to cook with, or make yogurt or other cultured dairy products if it sours beyond what your taste buds can handle. Or, you can freeze what you aren't using. Freezing can change the texture of the milk, as the cream doesn't mix as easily into the milk once it's been frozen. But it still tastes fine.</p>


<h4>What breed are the dairy cows? </h4>

<p>They are Jersey cows.</p>


<h4>What breed are the beef cattle?</h4>

<p>Rotokawa Devon and Scottish Highlander mix</p>


<h4>What breed are the chickens?</h4>

<p>The broilers are Cornish Cross. The laying hens are Rhode Island Red and Barred Rock</p>


<h4>Do the beef cattle get any grain to fatten them up?</h4>

<p>No. The beef cattle ONLY eat the pasture. They are never given any grain.</p>


<h4>Do the chickens and pigs eat corn or other feed?</h4>

<p>The chickens and pigs must have a supplement to the pasture, so we make our own feed from organic corn and beans. On our farm, genetically modified products and other prepared feeds are a strict no-no. Currently, we know of no other farm in the area that promises 100% organic feed all of the time. If you find one, and their prices are lower, we will match that price. </p>


<h4>What is the difference between pasture-raised meat and organic meat that I can buy at my local grocery store?</h4>

<p>Just because meat is labeled "organic" does not mean that it’s very good for you, or that the animals are treated well. To be certified organic, the requirements are that the animals be hormone and anti-biotic free, and that their feed be organic. It is not required that they spend adequate time outside. In fact, many animals who are raised "organically" may not see any sunshine at all.</p>

<p>Pasture-raised animals have plenty of access to the outdoors, and spend much of their time there. At Hopeful Farms, we believe that being "organic" isn't enough. Our animals are raised on pasture, eating greens and soaking in the sunshine. Since our animals are fed a natural diet, they don't need medications. </p>

<p>Our biggest focus is on our littlest livestock, the microbial life in our soil. Animals can only be as healthy as the plants they consume, and the plants they consume can only be as healthy as the soil they grow on. At Fry Farms, we put emphasis on taking care of the soil. Applying the correct balance of minerals to enhance the microbial life is one step in doing that. Microbes, in return, work for us by helping the plants absorb nutrients. No herbicides, insecticides or chemical fertilizers are used since they kill the life in the soil.</p>


<h4>Are there special instructions for cooking pasture-raised meat?</h4>

<p>It is best to follow your meat thermometer rather than the time in a recipe when cooking pasture-raised meat. Some good cookbooks are:</p>

<ul>
  <li><i>The Grassfed Gourmet Cookbook by Shannon Hayes</i></li>
  <li><i>Nourishing Traditions by Sally Fallon</i></li>
  <li><i>Pasture Perfect by Jo Robinson</i></li>
</ul>

<h4>Do you have produce available?</h4>

<p>We do have a CSA (Community Supported Agriculture) program to provide produce during the growing season. For more information, please contact <%= Manager.full_name -%> at <a href="mailto:<%= Manager.email -%>"><%= Manager.email -%></a>.</p>


<h4>Other resources for information on eating real food can be found at:</h4>

<ul>
  <li><a href="www.westonaprice.org">www.westonaprice.org</a></li>
  <li><a href="www.eatwild.com">www.eatwild.com</a></li>
  <li><a href="www.sustainabletable.com">www.sustainabletable.com</a></li>
  <li><a href="www.foodrenegade.com">www.foodrenegade.com</a></li>
  <li><a href="www.nourishedkitchen.com">www.nourishedkitchen.com</a></li>
  <li><a href="www.cheeseslave.com">www.cheeseslave.com</a></li>
</ul>

