<p>
  There is a $25 annual fee to belong to our local buying club. This establishes you as a member, and helps us to comply with governmental food regulations. There are benefits to being a member, such as free or discounted eggs when there is surplus, and occasional discounts on meat. If, for any reason, you wish to cancel your membership, you can get a full refund within two weeks of initial sign up. 
</p>
<%= link_to "Get started today", new_user_registration_path %>
