<p>
  There is a $30 annual fee to belong to our local buying club. This establishes you as a member, and helps us to comply with governmental food regulations. There are benefits to being a member, such as free or discounted eggs when there is surplus, and occasional discounts on meat. If, for any reason, you wish to cancel your membership, you can get a full refund within two weeks of initial sign up.
</p>

<h2>1. Membership agreement</h2>

<p>Please review and sign the following document, then send it to
Lauren Andrews, Co-op Manager, at <%= link_to 'fryfarms@hotmail.com', 'mailto:fryfarms@hotmail.com' %>. She can provide a mailing address if you'd prefer.

<table style="border: none;">
  <tr>
    <td style="width: 250px; text-align:center;">
      <a href="/SRDCoopMembershipAgreement.pdf"><img src="/images/pdficon_large.png" /></a>
      <p>
        <a href="/SRDCoopMembershipAgreement.pdf">
          <p>Membership agreement
        </a>
      </p>
    </td>
  </tr>
</table>

<h2>2. Annual membership fee</h2>

<p>You can pay by check, or you have two options for paying online:

<table style="border: none;">
  <tr>
    <td style="width: 250px; text-align:center;">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <INPUT TYPE="hidden" NAME="cmd" VALUE="_ext-enter">
      <INPUT TYPE="hidden" NAME="redirect_cmd" VALUE="_xclick-subscriptions">
      <input type="hidden" name="business" value="fryfarms@hotmail.com">
      <input type="hidden" name="item_name" value="Fry Farms Coop - Annual Membership">
      <input type="hidden" name="item_number" value="fryfarms-oneyear">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="http://www.fryfarmscoop.com/users/sign_in">
      <input type="hidden" name="no_note" value="1">
      <input type="image" src="https://www.paypal.com/images/x-click-but20.gif" border="0" name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
      <input type="hidden" name="a3" value="30.00">
      <input type="hidden" name="p3" value="1">
      <input type="hidden" name="t3" value="Y">
      <input type="hidden" name="src" value="1">
      <input type="hidden" name="sra" value="1">
      </form>
      <p>Automatically pay $30 every year
    </td>
    <td style="width: 250px; text-align:center;">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <INPUT TYPE="hidden" NAME="cmd" VALUE="_xclick">
      <INPUT TYPE="hidden" NAME="redirect_cmd" VALUE="_xclick">
      <input type="hidden" name="business" value="fryfarms@hotmail.com">
      <input type="hidden" name="item_name" value="Fry Farms Coop - Membership fee">
      <input type="hidden" name="item_number" value="fryfarms-oneyear">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="http://www.fryfarmscoop.com/users/sign_in">
      <input type="image" src="https://www.paypal.com/images/x-click-but01.gif" border="0" name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
      <input type="hidden" name="amount" value="30.00">
      </form>
      <p>One-time $30 payment
    </td>
  </tr>
</table>


<h2>3. Web ordering account</h2>

<p>Create an account for fryfarmscoop.com that you will log into for placing your orders:

<p><%= link_to "Get started today", new_user_registration_path %>
