development:
  adapter: postgresql
  encoding: unicode
  database: fry_farms_development
  pool: 5
  username: <%= ENV['USER'] %>
  password:

test: &test
  adapter: postgresql
  encoding: unicode
  database: fry_farms_test
  pool: 5
  username: <%= ENV['USER'] %>
  password:

cucumber:
  <<: *test
